<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Documentation - Weather Data API</title>
</head>
<body>
    <div class="container">
        <h1>Historical Weather Data API</h1>

        <h4>
            Search for a particular date and station: http://127.0.0.1:8000/v1/api/{station ID}/{date: YYYY-MM-DD} <br>
                Example: <a href="http://127.0.0.1:8000/v1/api/10/1992-05-19">http://127.0.0.1:8000/v1/api/10/1992-05-19</a>
        </h4>

        <h4>
            Search for a particular year (or plus month) and station: http://127.0.0.1:8000/api/v1/yearly/{station ID}/{year: YYYY} <br>
                Example: <a href="http://127.0.0.1:8000/v1/api/yearly/10/1992">http://127.0.0.1:8000/v1/api/yearly/10/1992</a> <br>
                <a href="http://127.0.0.1:8000/v1/api/yearly/10/1992-10"> http://127.0.0.1:8000/v1/api/yearly/10/1992-10 </a>
        </h4>

        <h4>
            Search for a particular station all years: http://127.0.0.1:8000/v1/api/{station ID} <br>
                Example: <a href="http://127.0.0.1:8000/v1/api/10">http://127.0.0.1:8000/v1/api/10</a>
        </h4>

        <h4> <b> <i>
            If Temperature(TG) is "-999.9" it means the data(temperature) has lost !
        </i> </b> </h4>

        <h3>
            Available Stations:
        </h3>

        <h4>
            {{ stations | safe }}
        </h4>

    </div>

</body>
</html>